<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AGENDENATOR</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="css\style.css">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>

<body class='container'>
  <header>
    <div>
      <div class="row">
        <div class="col-md-10 text-center">
          <h1><a href='/'>AGENDENATOR</a></h1>
          <a href="/applications/new" class="btn btn-success">Add New Application</a>
          <a href="/applications" class="btn btn-primary">View all applications</a>
          <a href="/NPUs" class="btn btn-danger">View all NPUs</a>
        </div>
      </div>
    </div>
  </header>
  <fieldset>
    <h2>RENDER AGENDA</h2>
    <form action="/agenda" method="GET">
      <label for="NPU">NPU</label>
      <select name="NPU" id="NPU" class='form-select form-select-lg' required>
        <option value='A'>A</option>
        <option value='B'>B</option>
        <option value='C'>C</option>
        <option value='D'>D</option>
        <option value='E'>E</option>
        <option value='F'>F</option>
        <option value='G'>G</option>
        <option value='H'>H</option>
        <option value='I'>I</option>
        <option value='J'>J</option>
        <option value='K'>K</option>
        <option value='L'>L</option>
        <option value='M'>M</option>
        <option value='N'>N</option>
        <option value='O'>O</option>
        <option value='P'>P</option>
        <option value='Q'>Q</option>
        <option value='R'>R</option>
        <option value='S'>S</option>
        <option value='T'>T</option>
        <option value='V'>V</option>
        <option value='W'>W</option>
        <option value='X'>X</option>
        <option value='Y'>Y</option>
        <option value='Z'>Z</option>
      </select>
      <label for="month">Month</label>
      <select name="month" id="month" class='form-select' required>
        <option value='January'>January</option>
        <option value='February'>February</option>
        <option value='March'>March</option>
        <option value='April'>April</option>
        <option value='May'>May</option>
        <option value='June'>June</option>
        <option value='July'>July</option>
        <option value='August'>August</option>
        <option value='September'>September</option>
        <option value='October'>October</option>
        <option value='November'>November</option>
        <option value='December'>December</option>
      </select>
      <!-- <label for="document">Document</label>
      <select name="document" id="document" class='form-select' required>
        <option value="Draft">Draft</option>
        <option value="Final">Final</option>
      </select> -->
      <!-- <button class='btn btn-success' id='submit' type='submit'>Submit</button> -->
      <a href="/agenda"><button class='btn btn-success'>Submit</button></a>
    </form>
  </fieldset><br><br>
  <!-- gCal iFrame -->
  <div class='container'>
    <div class='calendar col-12'>
      <div class='col-5'>Month</div>
      <iframe class='container'
        src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FNew_York&showTitle=1&showNav=1&showDate=1&showTabs=0&showCalendars=0&title=City%20of%20Atlanta%20NPU%20Meetings&showPrint=0&src=bzZtY3RoaHBoanU0OGlrc2hlOTVudWptdThAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23009688"
        style="border:solid 2px #777" height="620" frameborder="0" scrolling="no"></iframe>
    </div>
  </div>
  </div>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
</body>

</html>