<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AGENDENATOR</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="css\style.css">
</head>

<body class='container tablePage'>
  <header>
    <div>
      <div class="row">
        <div class="col-md-10 text-center">
          <h1><a href='/'>AGENDENATOR</a></h1>
        </div>
      </div>
    </div>
  </header>
  <div class='col-md-10 text-center'>
    <a href="/applications/new" class="btn btn-success">Add New Application</a><br>
    <form class="form-horizontal">
      <fieldset>
      <!-- Select Basic -->
      <div class="row form-group">
        <label class="col-md-2 control-label" for="renderNPU">Select Basic</label>
        <div>
          <select id="renderNPU" name="renderNPU" class="form-control">
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
            <option value="E">E</option>
            <option value="F">F</option>
            <option value="G">G</option>
            <option value="H">H</option>
            <option value="I">I</option>
            <option value="J">J</option>
            <option value="K">K</option>
            <option value="L">L</option>
            <option value="M">M</option>
            <option value="N">N</option>
            <option value="O">O</option>
            <option value="P">P</option>
            <option value="Q">Q</option>
            <option value="R">R</option>
            <option value="S">S</option>
            <option value="T">T</option>
            <option value="V">V</option>
            <option value="W">W</option>
            <option value="X">X</option>
            <option value="Y">Y</option>
            <option value="Z">Z</option>
          </select>
      </div>
      <!-- Select Basic -->
<br>
<label class="control-label" for="renderMonth">Select Basic</label>
<div class="col-md-4">
          <select id="renderMonth" name="renderMonth" class="form-control">
            <option value="JAN ">January</option>
            <option value="FEB ">February</option>
            <option value="MAR ">March</option>
            <option value="APR ">April</option>
            <option value="MAY ">May</option>
            <option value="JUN ">June</option>
            <option value="JUL ">July</option>
            <option value="AUG ">August</option>
            <option value="SEP ">September</option>
            <option value="OCT ">October</option>
            <option value="NOV ">November</option>
            <option value="DEC ">December</option>
          </select>
        </div>
      </div>
      
      </fieldset>
      <button value="Submit" class="btn btn-primary">Render Agenda</button>
      </form>
  </div>
  <br>
  <%- include('./applications/_table') %>
    <script>
      // reverse sort table
      const npuSort = document.getElementById('npuSort');
      npuSort.addEventListener('click', (e) => {
        e.preventDefault();
        const table = document.querySelector('table');
        const rows = Array.from(table.querySelectorAll('tr'));
        rows.shift();
        rows.reverse();
        rows.forEach(row => table.appendChild(row));
        // toggle header emoji
        if (npuSort.innerText.includes('🔼')) {
          npuSort.innerText = 'NPU 🔽';
        } else {
          npuSort.innerText = 'NPU 🔼';
        }
      });

      // sort by title
      const titleSort = document.getElementById('titleSort');
      titleSort.addEventListener('click', (e) => {
        e.preventDefault();
        const table = document.querySelector('table');
        const rows = Array.from(table.querySelectorAll('tr'));
        rows.shift();
        rows.sort((a, b) => {
          const titleA = a.querySelector('.title').innerText;
          const titleB = b.querySelector('.title').innerText;
          if (titleA < titleB) {
            return -1;
          } else if (titleA > titleB) {
            return 1;
          } else {
            return 0;
          }
        });
        rows.forEach(row => table.appendChild(row));
        // toggle header emoji
        if (titleSort.innerText.includes('🔼')) {
          titleSort.innerText = 'Title 🔽';
          rows.reverse();
        } else {
          titleSort.innerText = 'Title 🔼';
        }
      });
    </script>
</body>

</html>