<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AGENDENATOR</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link type="text/css" rel="stylesheet" href="F:\RepoBasement\Agendenator-idk\public\css\style.css"> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="container">
  <header>
    <div>
      <div class="row">
        <div class="col-md-10 text-center">
          <h1><a href='/'>AGENDENATOR</a></h1>
        </div>
      </div>
    </div>
  </header>
  <div>
    <a href="/applications/new" class="btn btn-success">Add New Application</a>
    <a href="/applications" class="btn btn-primary">View all applications</a>

  </div><br><br>
  <article id='article'>
    <div>
      <div>
        <div class="col-md-10 text-center">
          <h2>NEIGHBORHOOD PLANNING UNIT-<span class='NPUletter'></span></h2>
          <h3><span data-npu="NPUletter" id='datePlc'></span></h3>
          <h4>Register in advance by clicking <a href='www.atlantaga.gov' noopener><span id='zInfo'>here</span></a></h4>
          <br>
          <h5><strong>CONTACT INFORMATION</strong></h5>
          <h5>Kip Dunlap, <strong>Chair</strong> - <a href='mailto:kdunlap@atlantaga.gov'>kdunlap@atlantaga.gov</a></h5>
          <h5>Simit Dunlap, <strong>Vice Chair</strong> - <a href='mailto:simit@atlantaga.gov'>simit@atlantaga.gov</a>
          </h5>
          <h5>Casey Hall, <strong>Secretary</strong> - <a href='mailto:cch494@atlantaga.gov'>cch494@atlantaga.gov</a>
          </h5>
          <h5>Samantha Terry, <strong>Planner</strong> - <a
              href='mailto:snterry@atlantaga.gov'>snterry@atlantaga.gov</a>
          </h5>
        </div>
        <div>
          <h1>AGENDA</h1>
          <ol>
            <li>Invocation</li>
            <li>Approval of Minutes</li>
            <li>Public Comment</li>
            <li>Presentations</li>
            <ul>
              <li>Keona Jones - Invest Atlanta "ATLInBusiness" resource</li>
            </ul>
            <li>Matters for Voting</li>
            <li>Old Business</li>
            <li>New Business</li>
            <li>Adjournment</li>
          </ol>
        </div>
        <div id='bylawsBox'>
          <h4>NPU-<span class='NPUletter'></span></h4>
          <p>NPU-E VOTING RULES per 2022 Bylaws
            Each member organization of NPU-E may select two representatives, either of whom may cast a single,
            indivisible vote at NPU-E meetings. Member organizations represent neighborhood, civic and business
            associations which have geographical boundaries within the NPU. Any organization wishing to become a member
            may petition for membership (Article III).
          </p>
        </div>
        <div id='mattersForVoting'>
          <h4>MATTERS FOR VOTING</h4>
          <h6>NPUs provide recommendations to the City of Atlanta by voting to support or oppose applications. The
            application and the NPU’s recommendations, along with Staff recommendations, are then considered by the
            appropriate board, association, commission, or office.</h6>
          <table>
            <thead>
              <tr>
                <th colspan='4'>Special Event Applications (MOSE)</th>
              </tr>
              <tr>
                <th>Event Name</th>
                <th>Event Organizer</th>
                <th>Event Location</th>
                <th>Event Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href='www.google.com'>Atlanta Caribbean Carnival</a></td>
                <td>Patricia Henry</td>
                <td>Westside Park</td>
                <td>May 27, 2023</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
          <table>
            <thead>
              <tr>
                <th colspan='5'>Alcohol License Applications (LRB)</th>
              </tr>
              <tr>
                <th>Name of Business</th>
                <th>Type of Business</th>
                <th>Applicant</th>
                <th>Property Address</th>
                <th>Request</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href='www.google.com'>BARTACO</a></td>
                <td>Restaurant</td>
                <td>Dante A Rhodes</td>
                <td>969 Marietta St NW</td>
                <td>Change of Agent</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
          <table>
            <thead>
              <tr>
                <th colspan='3'>Board of Zoning Adjustment Applications (BZA)</th>
              </tr>
              <tr>
                <th>Application</th>
                <th>Property Address</th>
                <th>Public Hearing</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href='www.google.com'>Z-22-72</a></td>
                <td>2060 Peachtree Rd</td>
                <td>December 1 or 8, 2022</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class='rc' id='R&C'>
          <br>
          <h4>MATTERS FOR REVIEW AND COMMENT</h4>
          <h6>Members can review subdivision applications and provide comments to be forwarded to the Subdivision Review
            Committee (SRC). Other applications may be presented to an NPU for review and comment when the address is
            within a 300-foot radius of the NPU’s boundary. The Code of Ordinances does not require these applicants to
            attend NPU meetings. </h6>
        </div>
        <div>
          <table>
            <thead class='rc'>
              <tr>
                <th colspan='3'>Board of Zoning Adjustment Applications (BZA)</th>
              </tr>
              <tr>
                <th>Application</th>
                <th>Property Address</th>
                <th>Public Hearing</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href='www.google.com'>Z-22-72</a></td>
                <td>2060 Peachtree Rd</td>
                <td>December 1 or 8, 2022</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </article>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <!-- <script src="F:\RepoBasement\Agendenator-idk\app.js" async defer></script> -->
</body>

</html>