<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AGENDENATOR</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="css\style.css">
</head>

<body class='container tablePage'>
  <header>
    <div>
      <div class="row">
        <div class="col-md-10 text-center">
          <h1><a href='/'>AGENDENATOR</a></h1>
        </div>
      </div>
    </div>
  </header>
  <div class='col-md-10 text-center'>
    <a href="/applications/new" class="btn btn-success">Add New Application</a>
    <a href="/agenda" class="btn btn-primary">Render Agenda</a>

  </div>
  <br>
  <%- include('./applications/_table') %>
    <script>
      // reverse sort table
      const npuSort = document.getElementById('npuSort');
      npuSort.addEventListener('click', (e) => {
        e.preventDefault();
        const table = document.querySelector('table');
        const rows = Array.from(table.querySelectorAll('tr'));
        rows.shift();
        rows.reverse();
        rows.forEach(row => table.appendChild(row));
        // toggle header emoji
        if (npuSort.innerText.includes('🔼')) {
          npuSort.innerText = 'NPU 🔽';
        } else {
          npuSort.innerText = 'NPU 🔼';
        }
      });

      // sort by title
      const titleSort = document.getElementById('titleSort');
      titleSort.addEventListener('click', (e) => {
        e.preventDefault();
        const table = document.querySelector('table');
        const rows = Array.from(table.querySelectorAll('tr'));
        rows.shift();
        rows.sort((a, b) => {
          const titleA = a.querySelector('.title').innerText;
          const titleB = b.querySelector('.title').innerText;
          if (titleA < titleB) {
            return -1;
          } else if (titleA > titleB) {
            return 1;
          } else {
            return 0;
          }
        });
        rows.forEach(row => table.appendChild(row));
        // toggle header emoji
        if (titleSort.innerText.includes('🔼')) {
          titleSort.innerText = 'Title 🔽';
          rows.reverse();
        } else {
          titleSort.innerText = 'Title 🔼';
        }
      });
    </script>
</body>

</html>