@font-face {
  font-family: 'Tungsten-SemiBold';
  src: url(fonts/Tungsten-Semibold.otf) format('opentype');
  letter-spacing: 2pt;
}

@font-face {
  font-family: 'GT-Eesti-Regular';
  src: url(fonts/GT-Eesti-Text-Regular.otf) format('opentype');
}

body {
  background-color: goldenrod;
  /* max-width: 100% !important; */
}

h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Century Gothic';
}

h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 0 0 0.5em 0;
  font-family: 'Tungsten Semibold';
}

h3 {
  font-size: 12pt;
  font-family: 'Century Gothic';
  color: teal;
}

h4 {
  text-align: center;
  font-family: 'Century Gothic';
}

h5 {
  font-family: 'Century Gothic';
  text-align: left;
  line-height: .8 !important;
  font-size: 10.5pt;
}

h5 a{
  text-align: left;
  font-family: 'Century Gothic';
  color: black;
  text-decoration: underline;
}

h6 {
  font-family: 'Century Gothic';
  text-align: center;
  size: 10pt;
  margin: 20px;
}

p {
  font-family: Calibri;
  font-size: 10pt;
  line-height: 1 !important;
  padding: 1%;
}

table {
  margin: 0 30px 30px 30px;
  /* width: 95%; */
}

table, th, td {
  text-align: center;
  font-family: Arial;
  size: 10pt;
  /* border-collapse: collapse; */
  border: 1px solid rgb(105, 105, 105);
}

thead > tr:first-child {
  background-color: palegoldenrod;
}

.rc > tr:first-child {
  background-color: rgb(200, 200, 200) !important;
}

input {
  /* input size is content minimum */
  width: min-content !important;
}

select {
scrollbar-width: thin;
}

nav {
  background: rgb(179,179,179);
  background: linear-gradient(0deg, rgba(179,179,179,1) 0%, rgba(255,255,255,1) 10%);
}

.NPU {
  font-weight: bolder;
}

.descr {
  text-align: left;
}

.notes {
  text-align: left;
  width: 100%;
}

td > textarea {
  width: 100%;
}

nav h1 {
  font-size: 2rem;
  font-family: 'Tungsten Semibold';
  margin: 0;
  padding: 0;
}

.navbar-brand {
  font-family: 'Tungsten Semibold';
  font-size: 2rem;
  color: black;
  text-decoration: none;
}