/* NavBar */
nav {
  background-color:#000000;
  filter: drop-shadow(0px 6px 5px #5f5f5f);
  font-family: 'GT-Eesti-Regular', sans-serif;
  font-weight: 100;
}

nav h1 {
  font-size: 2rem;
  font-family: 'Tungsten-SemiBold';
  margin: 0;
  padding: 0;
}

#profileImg {
  width: 40px;
  clip-path: circle(40% at 50% 50%);
}

.navbar-brand {
margin-right: 0 !important;
font-size: 1.75rem;
}

.navbar-nav {
  margin-right: 0 !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5px
}

button {
  margin: 5px;
}

nav > select {
  height: 32px;
}
