<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AGENDENATOR</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class='container'>
  <header>
    <div>
      <div>
        <div class="col-md-10 text-center">
          <h1><a href='/'>AGENDENATOR</a></h1>
        </div>
      </div>
    </div>
  </header>
  <fieldset>
    <h2>Add Agenda Item</h2>
    <form action="/applications" method="POST">
      <label for="NPU">NPU</label>
      <select name="NPU" id="NPU" required>
        <option value='A'>A</option>
        <option value='B'>B</option>
        <option value='C'>C</option>
        <option value='D'>D</option>
        <option value='E'>E</option>
        <option value='F'>F</option>
        <option value='G'>G</option>
        <option value='H'>H</option>
        <option value='I'>I</option>
        <option value='J'>J</option>
        <option value='K'>K</option>
        <option value='L'>L</option>
        <option value='M'>M</option>
        <option value='N'>N</option>
        <option value='O'>O</option>
        <option value='P'>P</option>
        <option value='Q'>Q</option>
        <option value='R'>R</option>
        <option value='S'>S</option>
        <option value='T'>T</option>
        <option value='V'>V</option>
        <option value='W'>W</option>
        <option value='X'>X</option>
        <option value='Y'>Y</option>
        <option value='Z'>Z</option>
      </select>
      <label for="adjacent">Adjacent</label>
      <select id="adjacent" name="adjacent">
        <option selected value='-'>-</option>
        <option value='A'>A</option>
        <option value='B'>B</option>
        <option value='C'>C</option>
        <option value='D'>D</option>
        <option value='E'>E</option>
        <option value='F'>F</option>
        <option value='G'>G</option>
        <option value='H'>H</option>
        <option value='I'>I</option>
        <option value='J'>J</option>
        <option value='K'>K</option>
        <option value='L'>L</option>
        <option value='M'>M</option>
        <option value='N'>N</option>
        <option value='O'>O</option>
        <option value='P'>P</option>
        <option value='Q'>Q</option>
        <option value='R'>R</option>
        <option value='S'>S</option>
        <option value='T'>T</option>
        <option value='V'>V</option>
        <option value='W'>W</option>
        <option value='X'>X</option>
        <option value='Y'>Y</option>
        <option value='Z'>Z</option>
      </select>
      <label for="date">Date</label>
      <input type="date" name="date" id="date" required><br>
      <label for="Address">Address</label>
      <input type="text" name="Address" id="address"><br>
      <label for="type">Type</label>
      <select name="type" id="type" required>
        <option value='MOSE'>MOSE</option>
        <option value='LRB'>LRB</option>
        <option value='BZA'>BZA</option>
        <option value='ZRB'>ZRB</option>
        <option value='CDP'>CDP</option>
        <option value='SD'>SD</option>
        <option value='LOR'>LOR</option>
      </select>
      <label for="title">Title</label>
      <input type="text" name="title" id="title" placeholder="ApplName" required><br>
      <textarea name="descr" id="descr" cols="50" rows="5" placeholder="Description"></textarea>
      <br><br>
      <button class='btn btn-success' id='submit' type='submit'>SUBMIT</button>
    </form>
  </fieldset>
</body>